= form_for [bookmark], remote: true do |f|
  .row
    .large-12.columns.large-centered
      %h2 Edit Bookmark
      .row.collapse
        .small-12.columns
          = f.text_field :description, id: "description", placeholder: "Awesome Search Engine", autfocus: true
        .small-12.colums
          .small-10.columns
            = f.text_field :url, id: "url", placeholder: "http://www.google.com", autofocus: true
          .small-2.columns
            %button.postfix{:type => "submit", :id => "save_bookmark", "aria-label" => "close"}Save