<% if @bookmark.valid? %>
  $('#bookmark-<%= @bookmark.id %>').html("<%= escape_javascript(render 'bookmarks/bookmarks_with_links', bookmark: @bookmark) %>");
  $('.edit-bookmark#<%= @bookmark.id %>').slideUp( 400 );
<% else %>
  $('#bookmark-list').prepend("<div class='alert-box round alert'> <%= flash[:error] %> </div>");
<% end %>