= form_for [ user.topics.build ], remote: true do |f|
  .new-topic-form
    = f.text_field :title, id: "title", class: 'large-8', placeholder: "New Topic"
    .centered-submit-button
      %button.small.button.round{:type => "submit", id: "create_topic"} Create Topic