<% if @topic.valid? %>
  $('#topics').prepend("<%= escape_javascript(render(@topic)) %>");
   $('.new_topic').html("<%= escape_javascript(render partial: 'form', locals: { user: @user, topics: @topics }) %>");
 <% else %>
   $('.topic-form').prepend("<div class='alert-box round alert'> <%= flash[:error] = "Error Creating Topic - Topic must be 5 or more Characters" %> </div>");
   $('.alert-box').fadeOut(6000);
 <% end %>