<% if @topic.valid? %>
  $('#topics').prepend("<%= escape_javascript(render(@topic)) %>");
   $('.new_topic').html("<%= escape_javascript(render partial: 'form', locals: { user: @user, topics: @topics }) %>");
 <% else %>
   $('.topic-form').prepend("<div class='alert-box round alert'> <%= flash[:error] %> </div>");
 <% end %>