<% if @topic.valid? %>
  $('#topic-container').html("<%= escape_javascript(render 'topics/topic_with_links') %>");
  $('.edit-form').slideUp(350);
<% else %>
  $('.topics-container').prepend("<div class='alert-box round alert'> <%= flash[:error] %> </div>");
<% end %>