- if policy(Like.new).create?
  - like = current_user.likes.find_by_bookmark_id(favorite_bookmark)
  - like ||= Like.new
  = div_for(like, class: "small-1") do
    - if like.persisted?
      = link_to "", [like], class: "fi-star favorited", id: "remove_favorite", method: :delete
    - else
      = link_to "", [favorite_bookmark, like], class: "fi-star", id: "favorite_bookmark", method: :post