// Place all the styles related to the Bookmarks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import 'foundation_and_overrides';

$anchor-font-color: scale-color($primary-color, $lightness: -10%);
$anchor-font-color-hover: scale-color($anchor-font-color, $lightness: -14%);
// Bookmark Styling
.ind-bookmark {
  a {
    color: $anchor-font-color;
    &:hover {
      color: $anchor-font-color-hover;
    }
  }
}

.bookmark-inner-frame {
  border: 2px solid $aluminum;
}

.edit-bookmark {
  padding: .25em .5em;
}