// Place all the styles related to the Topics controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import 'foundation_and_overrides';

%large-container {
  @extend .large-5;
  @extend .large-centered;
}

.inner-container {
  @extend .large-10;
  @extend .large-centered;
  @extend .columns;
  margin: 1em;
}

.topic {
  margin: 0 5% 0 5%;
}

.topic-container-inner {
  @extend .large-7;
  @extend .columns;
  margin: 0 3em;
  padding: 0 2em;
}

.topic-title {
  @extend .large-10;
  @extend .columns;

  h3 {
      padding-bottom: 0;
      margin-bottom: 0;
    }

    small {
      margin-top: 0;
      padding-top: 0;
    }
}

.delete-link {
  @extend .small-2;
  @extend .columns;
  padding: .5em 0; 

  .fi-pencil , .fi-trash{
    color: $aluminum;
    font-size: 30px;
    padding: 0 .25em;
  }
}

#save_changes, #create_topic {
  text-align: center;
  padding: 0;
}


