%aside.left-off-canvas-menu
  %ul.off-canvas-list
    %li
      %label Blocmarks
    %li
      = link_to "Contact", welcome_contact_path, id: "contact"
    %li
      = link_to "Browse Topics", topics_path, id: "browse_topics"